@font-face {
    font-family: albertson;
    src: url(Assets/Albertson.ttf);
}
*{
    font-family: albertson;
    padding: 0;
    margin: 0;
}
.logo
{
    width: auto;
    height: 5vw;
    margin-left: 2vw;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.15vw black;
    position: fixed;
    width: 100%;
    background-color: white;
}
nav ul
{
    display: flex;
    margin-right: 2vw;
}
nav ul li
{
    list-style: none;
    font-size: 1.6vw;
}
nav ul li a
{
    text-decoration: none;
    color: #3B1B57;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
}
.hero
{
    display: flex;
    justify-content: space-between;
    height: 45vw;
    padding-top: 5vw;
}
.hero-text p
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3B1B57;
    margin-left: 3vw;
    padding-top: 11vw;
}
.hero-text-1
{
    font-size: 3.5vw;
}
.hero-text-2
{
    font-size: 2.5vw;
    margin-top: 1vw;
}
.hero-text-3
{
    font-size: 5.5vw;
    margin-top: 1vw;
}
.hero-text-4
{
    font-size: 3.5vw;
    margin-top: 2vw;
}
.hero-text-5
{
    font-size: 4.5vw;
    margin-top: 2vw;
}
.hero-img
{
    width: auto;
    height: 30vw;
    margin-top: 8vw;
    margin-right: 12vw;
}
.best-sellers
{
    background-color: #3B1B57;
    padding-bottom: 5vw;
}
.card-img
{
    width: auto;
    height: 10vw;
    padding-left: 2.5vw;
}
.card
{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(Assets/Book\ Card\ PNG.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card-up
{
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
    width: 21vw;
}
.card-text
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card-text h4
{
    width: 10vw;
    text-align: center;
    font-size: 2vw;
}
.b-title
{
    text-align: center;
    color: white;
    padding: 1vw;
    padding-top: 1.3vw;
    font-size: 4vw;
    font-weight: 300;
}
.b-tagline
{
    text-align: center;
    color: white;
    padding: vw;
    font-size: 2vw;
    font-weight: 100;
}
.card-info
{
    width: 19vw;
    text-align: center;
    margin-top: 1.5vw;
    font-size: 1.5vw;
    margin-bottom: 1vw;
}
.card-buttons
{
    display: flex;
    justify-content: space-between;
    width: 10vw;
}
.card-buttons a
{
    border: solid #3B1B57 0.2vw;
    padding: 0.5vw;
    font-size: 1vw;
    text-decoration: none;
}
.cards-1,.cards-2
{
    display: flex;
    justify-content: space-evenly;
}
.cards-2
{
    margin-top: 3vw;
}
.cards-1
{
    margin-top: 2vw;
}
